
        <div style="width:100%; margin: auto; font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555; " >
              <br>
              <table style="margin-left: 2%;width: 96%;border-collapse: collapse;">
                  <tr>
                    <th style="width:80%;text-align: left;">
                        {{practice_details.name}}<br>
                        <span><h1>Return Invoice</h1></span>
                    </th>
                    <th style="text-align:center;" style="width:20%;">
                      {{#if practice_details.logo}}
                        <img src={{practice_details.logo}}  alt="logo" style="display: block;max-width: 100%;height: auto;">
                      {{/if}}
                    </th>
                  </tr>
                </table>
          <br>
          <hr>
          <br>
          <table style="margin-left: 2%;width: 96%;border-collapse: collapse;">
            <tr>
              <th colspan="4" style="border: none;text-align: left;border-collapse: collapse;"> Billed To:</th>
            </tr>
              <tr>
                <th style=" border: none;text-align: left;border-collapse: collapse;">Patient</th>
                <th style=" border: none;text-align: left;border-collapse: collapse;">Return Invoice No</th>
                <th colspan="3" style=" border: none;text-align: center;border-collapse: collapse;">Total</th>
              </tr>
              <tr>
                {{!-- <td style=" border: none;text-align: left;border-collapse: collapse;">{{details.pet_name}} &nbsp;|&nbsp; {{patientage}}</td> --}}
                <td style=" border: none;text-align: left;border-collapse: collapse;">{{details.pet_name}} &nbsp;|&nbsp; {{patientage}}</td>
                <td style=" border: none;text-align: left;border-collapse: collapse;">{{details.ref}}</td>
                <td colspan="3" rowspan="2"   style="border: none;text-align: center;border-collapse: collapse;"><h1>{{practice_details.currency_symbol}}{{price.total}}</h1></td>
              </tr>
              <tr>
                <th style=" border: none;text-align: left;border-collapse: collapse;">Parent</th>
                <th style=" border: none;text-align: left;border-collapse: collapse;">Invoice Date</th>
              </tr>
              <tr>
                <td style=" border: none;text-align: left;border-collapse: collapse;">{{details.name}}</td>
                <td style=" border: none;text-align: left;border-collapse: collapse;">{{date}}</td>
              </tr>
          </table>

          <br>
          <br>
          
          <table style="margin-left: 2%;width: 96%;border-bottom:#eee 1px solid;border-collapse: collapse;" cellpadding="0" cellspacing="0">                   
            <tr>														
            <th style="border: #eee 1px solid;padding: 5px 5px; text-align:left;border-collapse: collapse;">Item Name</th>
            <th style="border: #eee 1px solid;padding: 5px 5px; text-align:left;border-collapse: collapse;">Quantity</th>														 
              <th style="border: #eee 1px solid;padding: 5px 5px; text-align:left;border-collapse: collapse;">Price</th>
              <th style="border: #eee 1px solid;padding: 5px 5px; text-align:left;border-collapse: collapse;">Total</th>
            </tr>
            {{#each items}}
            <tr>
                <td style="padding: 5px 5px;border: #eee 1px solid;">
                  {{#if vaccination}}{{vaccination}} - {{/if}}<span>{{name}}</span><br><span>{{batch_no}}</span>
                </td>
                <td style="padding: 5px 5px;border: #eee 1px solid;"> {{quantity}}</td>
                <td style="padding: 5px 5px;border: #eee 1px solid;">  {{practice_details.currency_symbol}}{{retail_price}}</td>
                <td style="padding: 5px 5px;border: #eee 1px solid;"> {{practice_details.currency_symbol}}{{total}}</td>
            </tr>    
            {{/each}}             
          </table>
          <br>

          <table style="margin-left:52%;width: 46%;border-collapse: collapse;">
            <tr>
              <th style="text-align:right;padding: 8px 0px;">Sub Total</th>
              <td style="text-align: right;">{{practice_details.currency_symbol}}{{price.subTotal}}</td>
            </tr>
            {{#if taxexist}}
            <tr>
                <th style="text-align:right;padding: 8px 0px;">Tax</th>
                <td style="text-align: right;">{{practice_details.currency_symbol}}{{price.tax}}</td>
            </tr>
            {{/if}}
            {{#if discountexist}}
            <tr>
                <th style="text-align:right;padding: 8px 0px;">Original Discount</th>
                <td style="text-align: right;">{{practice_details.currency_symbol}}{{discounttype}}</td>
            </tr>
            {{/if}}
            {{#if outstandingexist}}
            <tr>
                <th style="text-align:right;padding: 8px 0px;">Outstanding</th>
                <td style="text-align: right;">{{practice_details.currency_symbol}}{{outstanding}}</td>
            </tr>
            {{/if}}
            <tr>
                <th style="text-align:right;padding: 8px 0px;">Total</th>
                <td style="text-align: right;">{{practice_details.currency_symbol}}{{price.total}}</td>
            </tr>
            {{#if payableexist}}
            <tr>
                <th style="text-align:right;padding: 8px 0px;">Payable Amount</th>
                <td style="text-align: right;">{{practice_details.currency_symbol }}{{payableamount}}</td>
            </tr>
            {{/if}}
          </table>
          <br><br>
          <hr>
          <p style="text-align:center;">{{practice_address.address}}, {{practice_address.city}} - {{practice_address.pincode}}</p>
            <table style="margin-left: 2%;width: 96%; float:left; padding-left: -25px;">
              <tr>
                <td style=" text-align:center;">
                  <!-- <span class="anim">Anim</span><span class="app">App</span> -->
                  <img src="https://s3.ap-south-1.amazonaws.com/animappcareimages/AnimApp_Light.png" style=""alt="logo" width="150" height="100"  >
                </td>
              </tr>
            </table>
      </div>