
        <div style="width:100%; margin: auto; font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555; " >
              <br>
              <table style="margin-left: 2%;width: 96%;border-collapse: collapse;">
                  <tr>
                    <th style="width:80%;text-align: left;">
                        {{practice_details.name}}<br>
                        <span><h1>Credit Note</h1></span>
                    </th>
                    <th style="text-align:center;" style="width:20%;">
                      {{#if practice_details.logo}}
                        <img src={{practice_details.logo}}  alt="logo" style="display: block;max-width: 100%;height: auto;">
                      {{/if}}
                    </th>
                  </tr>
                </table>
          <br>
          <hr>
          <br>
          <table style="margin-left: 2%;width: 96%;border-collapse: collapse;">
                        <!-- <tr>
                            <th colspan="4" style="border: none;text-align: left;border-collapse: collapse;"> Credited To:</th>
                        </tr> -->
                        <tr>
                            <th style=" border: none;text-align: left;border-collapse: collapse;">Date</th>
                            <th style=" border: none;text-align: left;border-collapse: collapse;">Name</th>
                            <th style=" border: none;text-align: left;border-collapse: collapse;">Credit No</th>
                            <th style=" border: none;text-align: left;border-collapse: collapse;">Total Credits</th>
                            <th colspan="3" style=" border: none;text-align: center;border-collapse: collapse;">Remaining Credits</th>
                        </tr>
                        <tr>
                            <td style=" border: none;text-align: left;border-collapse: collapse;">{{creditnotedetails.timestamp}}</td>
                            <td style=" border: none;text-align: left;border-collapse: collapse;">{{creditnotedetails.name}}</td>
                            <td style=" border: none;text-align: left;border-collapse: collapse;">{{creditnotedetails.cn_ref}}</td>
                            <td style=" border: none;text-align: left;border-collapse: collapse;">{{creditnotedetails.initialamount}}</td>
                            <td colspan="3" style="border: none;text-align: center;border-collapse: collapse;">
                                <h1>{{practice_details.currency_symbol}}{{creditnotedetails.currentamount}}</h1>
                            </td>
                        </tr>
                    </table>

                    <br>
                    <hr>
          <p style="text-align:center;">{{practice_address.address}}, {{practice_address.city}} - {{practice_address.pincode}}</p>
            <table style="margin-left: 2%;width: 96%; float:left; padding-left: -25px;">
              <tr>
                <td style=" text-align:center;">
                  <!-- <span class="anim">Anim</span><span class="app">App</span> -->
                  <img src="https://s3.ap-south-1.amazonaws.com/animappcareimages/AnimApp_Light.png" style=""alt="logo" width="150" height="100"  >
                </td>
              </tr>
            </table>
      </div>